*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font: 16px  "Helvetica Neue", Arial,sans-serif;
    display:flex;
    justify-content: center;
    color: white;
    background-color: rgb(68, 63, 63);
}
a{
    color: #eee;
}